@import 'https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap'

// The vertical ratio, 1.618 (phi)
//
// The vertical ratio is used to determine heights, line spacing,
// top/bottom margins/paddings, etc.
$v-ratio: 1.618

// The horizontal ratio, 9 / 16
//
// The horizontal ratio is used to determine the width of the
// main portion of the body (this value isn't used much other
// than that, it's mostly there for keeping track of design
// choices.
//
// Horizontally, at least while dealing with a computer screen,
// the screen will be treated as if it has 16 columns.
$h-ratio: 9 / 16

// Color scheme
$background-color: #e2ffe9
$text-color: #39493a

@mixin header-text
  font-family: 'Source Code Pro', monospace
  font-weight: 400

@mixin body-text
  font-family: 'Source Code Pro', monospace
  font-weight: 300

html
  font-size: #{1em * $v-ratio}
  color: $text-color
  background-color: $background-color

body
  margin: 0 #{(1 - $h-ratio) / 2 * 100vw}

header h1
  @include header-text

header .inverse
  color: $background-color
  background-color: $text-color
  border-radius: 10px
  padding: 0 #{ 0.5rem * $h-ratio }
  margin: 0 #{ 0.5rem * $h-ratio }

*
  margin: 0
  padding: 0
  line-height: #{100% * $v-ratio}
