@import 'common';

body {
  margin: 0;
  display: grid;
  grid-template-columns: $gutter-width auto $gutter-width;
  grid-template-areas: ". header ." ". main ." ". aside .";
  gap: 0 5vw;
}

header {
  margin: #{ $v-ratio * 0.75rem } 0 #{ $v-ratio * 1.5rem };
  grid-area: header;

  h1 {
    font-size: 3rem;
  }
}

main {
  grid-area: main;
}

section h2 {
  margin: #{ $v-ratio * 0.375rem } 0 #{ $v-ratio * 0.75rem };

  a {
    text-decoration: none;
  }
}

#about {
  grid-area: aside;
  font-size: 0.75rem;
  color: $background-color;
  background-color: $text-color;
  border-radius: 10px;
  padding: 2.5vw;

  a {
    color: $background-color;
    text-decoration: none;
  }
}

$card-gap: 0.1vw;

.cards {
  display: flex;
  flex-direction: column;
  gap: $card-gap 0;
  background-color: $text-color;

  h3 {
    font-size: 1rem;
  }
  li {
    list-style-type: none;
    flex: 1;
    padding: 1rem;
    font-size: 0.75rem;
    background-color: $background-color;
  }
}

@media only screen and (min-width: 961px) {
  body {
    grid-template-columns: #{$gutter-width * 2} auto #{$gutter-width * 2};
    grid-template-areas: ". header ." ". main aside";
  }

  #about {
    border-radius: 10px 0 0 10px;
  }

  .cards {
    flex-direction: row;
    gap: 0 $card-gap;
  }
};