@import 'common';

html {
  font-size: #{1em * $v-ratio};
}

* {
  margin: 0;
  padding: 0;
  line-height: #{100% * $v-ratio};
}

header {
  @include header-text;
  text-align: center;
  padding: 1rem 0 2rem;

  h1,
  h1 a {
    font-size: 3rem;
    font-variant: small-caps;
    line-height: 100%;
    text-decoration: none;
  }

  h2 {
    font-size: 1rem;
  }
}

main {
  @include body-text;
  margin: 0 #{(1 - $h-ratio) / 2 * 100vw};

  h1 {
    font-size: 2rem;
    text-align: center;
  }

  p {
    margin: #{1rem * $v-ratio} 0;
  }
}

hr {
  margin: 0 #{(1 - $h-ratio) / 2 * 100vw + 5vw};
  border-width: 1px;
}

a.nav {
  display: block;
  margin: 1rem #{(1 - $h-ratio) / 2 * 100vw};
  text-decoration: none;
}

#prev {
  text-align: left;
}

#next {
  text-align: right;
}