main {
    h2 {
        margin-top: calc(var(--v-unit) * 2);
    }

    h3 {
        margin-top: calc(var(--v-unit) * 1.5);
    }

    p,
    img {
        margin: var(--v-unit) 0;
    }

    img {
        width: 100%;
    }

    li {
        margin-left: calc(var(--h-unit) * 2);
        padding-left: calc(var(--h-unit) / 2);
    }

    pre {
        padding: var(--v-unit) var(--h-unit);
        overflow-x: scroll;
        background-color: rgba(0, 0, 0, 10%);

        code {
            padding: 0;
            background-color: transparent;
        }
    }

    code {
        padding: 0 calc(var(--h-unit) / 4);
        background-color: rgba(0, 0, 0, 10%);
    }
}

.project-list, .writeup-list {
    display: flex;
    flex-direction: column;
    gap: calc(var(--v-unit) * 2);
}

.project, .writeup {
    list-style: none;

    margin: 0;
    padding: 0;

    h2 {
        margin: 0;
    }

    a {
        display: block;
        padding: calc(var(--v-unit) * 2) calc(var(--h-unit) * 2);

        color: var(--card-txt);
        background-color: var(--card-bkg);

        transition: background-color var(--hover-effect-duration);

        &:hover {
            background-color: color-mix(in oklch, var(--card-bkg), white 25%);
            text-decoration: none;
        }
    }
}

@media screen and (min-width: 600px) {
    .project-list, .writeup-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        column-gap: calc(var(--h-unit) * 2);
        row-gap: calc(var(--v-unit) * 2);
    }
}

@media screen and (min-width: 990px) {
    .project-list, .writeup-list {
        grid-template-columns: repeat(4, 1fr);
    }
}
