{% extends "base.html" %}

{% block title %}
  text to types
{% endblock title %}

{% block body %}
<header>
  <h1>text<span class="inverse">to</span>types</h1>
  {% include "_nav.html" %}
</header>
<main>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
incididunt ut labore et dolore magna aliqua. Turpis massa sed elementum tempus
egestas sed sed risus pretium. Placerat vestibulum lectus mauris ultrices.
Tellus in metus vulputate eu scelerisque felis imperdiet proin fermentum.
Mauris ultrices eros in cursus turpis massa tincidunt. Nisl suscipit adipiscing
bibendum est ultricies integer quis auctor. Magna fringilla urna porttitor
rhoncus dolor purus non enim praesent. Et netus et malesuada fames ac turpis.
Tempor nec feugiat nisl pretium fusce id. Commodo viverra maecenas accumsan
lacus vel. Cursus euismod quis viverra nibh cras pulvinar. Lacus vel facilisis
volutpat est velit egestas dui id. Orci nulla pellentesque dignissim enim sit
amet venenatis urna.
</p>

<p>
Consequat mauris nunc congue nisi vitae suscipit tellus mauris a. Nam at lectus
urna duis convallis convallis tellus. Et tortor at risus viverra adipiscing at.
Ac turpis egestas sed tempus urna. At in tellus integer feugiat scelerisque.
Neque aliquam vestibulum morbi blandit cursus risus. Tellus at urna condimentum
mattis pellentesque id nibh tortor id. Quis blandit turpis cursus in hac
habitasse platea. Nunc mattis enim ut tellus elementum sagittis. Viverra
aliquet eget sit amet tellus cras adipiscing enim. Est ante in nibh mauris
cursus mattis molestie a. Scelerisque mauris pellentesque pulvinar pellentesque
habitant morbi tristique senectus et.
</p>

<p>
Feugiat sed lectus vestibulum mattis ullamcorper velit sed. Rutrum tellus
pellentesque eu tincidunt tortor aliquam. Aenean pharetra magna ac placerat.
Ultricies mi quis hendrerit dolor magna eget est lorem. Dignissim suspendisse
in est ante. Semper feugiat nibh sed pulvinar proin gravida hendrerit. Quis
blandit turpis cursus in hac. Donec adipiscing tristique risus nec feugiat in
fermentum. Lectus sit amet est placerat in egestas erat. Tortor id aliquet
lectus proin nibh nisl condimentum id venenatis. Urna id volutpat lacus
laoreet. Tincidunt tortor aliquam nulla facilisi cras fermentum odio eu
feugiat. At imperdiet dui accumsan sit amet. Eu tincidunt tortor aliquam nulla
facilisi cras fermentum. In nisl nisi scelerisque eu ultrices. Quis imperdiet
massa tincidunt nunc.
</p>

<p>
Egestas pretium aenean pharetra magna ac. Ac tortor dignissim convallis aenean
et tortor at. Viverra adipiscing at in tellus integer feugiat scelerisque.
Vestibulum mattis ullamcorper velit sed ullamcorper. Ultricies leo integer
malesuada nunc vel risus. Viverra orci sagittis eu volutpat odio facilisis. In
tellus integer feugiat scelerisque. Ullamcorper morbi tincidunt ornare massa
eget. Auctor urna nunc id cursus. At ultrices mi tempus imperdiet nulla
malesuada pellentesque elit eget. Quis enim lobortis scelerisque fermentum dui
faucibus in ornare.
</p>

<p>
Ut consequat semper viverra nam libero justo laoreet sit. Eget felis eget nunc
lobortis mattis. Adipiscing elit duis tristique sollicitudin nibh sit amet
commodo. Lacinia quis vel eros donec. Blandit turpis cursus in hac habitasse
platea dictumst quisque sagittis. Natoque penatibus et magnis dis parturient
montes nascetur ridiculus. Fringilla urna porttitor rhoncus dolor purus non
enim praesent elementum. Posuere morbi leo urna molestie at. Enim lobortis
scelerisque fermentum dui faucibus in ornare quam viverra. Donec et odio
pellentesque diam. Cursus risus at ultrices mi tempus imperdiet nulla. Augue ut
lectus arcu bibendum at varius. Adipiscing at in tellus integer feugiat
scelerisque varius morbi. Sapien eget mi proin sed libero enim. In egestas erat
imperdiet sed euismod nisi. Odio eu feugiat pretium nibh ipsum. Tincidunt
praesent semper feugiat nibh sed pulvinar. Ornare quam viverra orci sagittis.
Rutrum tellus pellentesque eu tincidunt tortor aliquam nulla facilisi. Praesent
semper feugiat nibh sed pulvinar proin gravida hendrerit.
</p>
</main>
{% endblock body %}

{% block styles %}
<link rel= "stylesheet" href="/index.css" />
{% endblock styles %}
