{% extends "base.html" %}

{% block title %}
  text to types
{% endblock title %}

{% block body %}
<header>
  <h1>text<span class="inverse">to</span>types</h1>
  {% include "_nav.html" %}
</header>
<main>
  <section>
    <h2><a href="#"># projects</a></h2>
    <ul class="cards">
      <li>
        <h3><a href="#">Tego</a></h3>
        <p>
          A functional programming language constructed around interactions
          between lists and the 'join' operator.
        </p>
      </li>
      <li>
        <h3><a href="#">Cosmos</a></h3>
        <p>
          A website that explores the different lessons that can be learned
          from the creation of the world
        </p>
      </li>
    </ul>
  </section>
  <section>
    <h2><a href="#"># thoughts</a></h2>
    <p>
      stuff here
    </p>
  </section>
</main>
<aside id="about">
  <h2><a href="#"># about</a></h2>
  <p>
    Hey! I'm Brendon Bown, a programming language enthusiast and here is some
    more filler words, since I really like filling space with filler words, but
    I don't really want to go find the lorem ipsum text again.
  </p>
<aside>
{% endblock body %}

{% block styles %}
<link rel= "stylesheet" href="/index.css" />
{% endblock styles %}
