{% extends "base.html" %}

{% block title %}
  {{ page.title }} - Cosmos
{% endblock title %}

{% block body %}

  <header>
    <h1 id="title"><a href="/">Cosmos</a></h1>
    <h2 id="subtitle">Lessons from the creation of our world</h2>
  </header>

  <hr />

  {% if page.extra["prev"] %}
  <a class="nav" id="prev" href="{{ page.extra["prev"].url }}">〈 {{ page.extra["prev"].title }}</a>
  {% endif %}

  <main>
    {{ page.content | safe }}
  </main>

  {% if page.extra["next"] %}
  <a class="nav" id="next" href="{{ page.extra["next"].url }}">{{ page.extra["next"].title }} 〉</a>
  {% endif %}

{% endblock body %}

{% block styles %}
<link rel= "stylesheet" href="/page.css" />
{% endblock styles %}
